.country-detail-dark {
    display: flex;
    flex-direction: column;
}

.country-detail-light {
    display: flex;
    flex-direction: column;
}

.country-detail__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5rem 110px 18.4rem 110px;
    height: 46rem;
}

.country-detail__back-button-light {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 110px;
    font-size: 17px;
    background-color: rgb(255 255 255);
    color: rgb(26, 26, 26);
    box-shadow: 0px 1px 4px 5px rgb(179, 179, 179);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.country-detail__back-button-dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 110px;
    font-size: 17px;
    background-color: rgb(31 31 31);
    color: white;
    box-shadow: 0px 1px 7px 7px rgb(2 2 2);
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.country-detail__image-img {
    height: 25rem;
}

.country-detail__only-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
}

.country-detail__no-title {
    display: flex;
    flex-direction: row;
}

.country-detail__title-light {
    padding-bottom: 50px;
    color: black;
}

.country-detail__title-dark {
    padding-bottom: 50px;
    color: white;
}

.country-detail__details-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    color: black;
    flex-wrap: wrap
}

.country-detail__details-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    color: white;
    flex-wrap: wrap
}

.country-detail__details-title {
    padding-right: 5px;
    font-weight: 600;
}

.country-detail__right-info {
    padding-left: 100px;
}

.country-detail__neighbors {
   
    padding: 10px 5px;
}

.country-detail__link {
    text-decoration: none;
    padding: 2px 10px;
}

.country-detail__neighbors-dark {
    background-color: rgb(31 31 31);
    color: white;
    margin: 8px 10px;
    padding: 12px;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 0px 1px 7px 7px rgb(2 2 2);
}

.country-detail__neighbors-light {
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    margin: 8px 10px;
    padding: 12px;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 0px 1px 7px 7px rgb(228, 228, 228);
}

@media (max-width: 1330px) {
    .country-detail__info {
        flex-direction: column;
    }

    .country-detail__no-title {
        flex-direction: column;
    }

    .country-detail__right-info {
        padding-left: 0;
    }

    .country-detail__info {
        height: 52.8rem;
    }

}

@media (max-width: 870px) {
    .country-detail__image-img {
        height: 18rem;
    }

    .country-detail__info {
        height: 56.8rem;
    }
}
