.countries-list__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px 100px 100px 100px;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.countries-list__country {
    margin: 10px;
    width: 300px;
    background-color: rgb(124, 124, 124);
    border: none;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.countries-list__img {
    width: 100%;
    height: 12rem;
    border-radius: 10px 10px 0 0;
}

ul {
    list-style-type: none
}

.countries-list_country-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
}

.countries-list__name {
    font-size: 18px;
    margin: 15px 0 15px 0;
} 

.countries-list__data {
    font-size: 14px;
    margin: 5px 0 5px 0;
    
}

.countries-list__data:last-child {
    margin-bottom: 30px;
}

.countries-list__form {
    display: flex;
    width: 33rem;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 110px;
    padding-top: 5rem;
}

.countries-list__input {
    width: 25rem;
    height: 3rem;
    border-radius: 0 8px 8px 0;
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;   
    font-size: 18px;
    padding-left: 30px;
    background-color: rgb(124, 124, 124);
}


input::placeholder {
    font-size: 18px;
    padding-left: 5rem;
}

.countries-list__submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(124, 124, 124);
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    height: 4rem;
    border: none;
}